.container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  border: 1px solid #ccc;
}

.title {
  font-size: x-large;
  margin-bottom: 0;
}

.nextQuestionButton {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  background-color: #04248d;
  color: white;
  cursor: pointer;
}
